<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加新文章</title>
<link rel="stylesheet" href="/static/Astyles/style.css" type="text/css" media="all">
</head>
<body>
<div class="container">
    <h3 class="marginbot">添加新文章<a href='{:url("admin/NewsL/newsL")}' class="sgbtn">返回文章列表</a></h3>
    <div class="mainbox">
            <form action='{:url("admin/NewsE/addArticle")}'method="post">


                      <p>文章名称：</p><br>

                      <p>   <input name="title" class="txt" style="width:400px;" type="text"></p><br>




                       <p>文章内容：</p><br>


                        <p><td><textarea style="width:400px; height:150px" name="content"></textarea></td></p><br>

                <button>提交</button>

            </form>

    </div>
</div>
</body>
</html>